body {
    background: url('fg.webp') no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    
}
* {
    font-family: Arial;
    box-sizing: padding-box;
}
form {
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 1px solid rgb(177, 142, 142);
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    background: transparent;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
input {
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
label {
    color: black;
    font-size: 17px;
}  

.error {
    background:#F2DEDE;
    color: #0c0101;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin-bottom: 20px;
}
h1 {
    text-align: center;
    color: rgb(134, 3, 3);
}
button {
    float: right;
    background: #1cc88a;
    padding: 10px 15px;
    color: #fff;
    border-radius: 10px;
    margin-right: 10px;
    border: none;
    text-decoration: none;
    margin-top: 15px;
}
button:hover{
    opacity:.7;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
p {
    margin: 0;
}